$base-green: #153c40;
$gold: #ba7c46;
$light-green: #284c40;

body {
  background-color: $base-green;
  color: white;
  font-family: "Cormorant Garamond", serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gold;
  }
}

nav.navbar {
  position: fixed;
  width: 100vw;
  background-color: $base-green;
  padding-left: 2rem;
  padding-right: 2rem;
  a {
    &.nav-link {
      color: white;
      &:hover {
        color: $gold;
      }
    }
  }
  .title {
    font-size: 2rem;
  }
  top: 0;
  z-index: 999;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lineart {
  width: 4rem;
  border-bottom: 1px solid white;
  display: inline-block;
  margin-right: 10px;
}

.introline {
  font-size: 1.5rem;
}

.name {
  font-size: 4rem;
  font-weight: 700;
  transform: translateY(0);
  transition: 0.4s ease;
  &:hover {
    transform: translateY(-1rem);
    transition: 0.4s ease;
  }
}

.aboutme {
  font-size: 1.25rem;
}

.selfportrait {
  max-width: 100%;
  img {
    width: 60%;
    height: 500px;
    object-fit: cover;
    object-position: 100% 0;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    position: relative;
    border: 10px solid $base-green;
    outline: 3px solid $light-green;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    // &:before {
    //   content: " ";
    //   position: absolute;
    //   z-index: -1;
    //   top: 5px;
    //   left: 5px;
    //   right: 5px;
    //   bottom: 5px;
    //   border: 5px solid $light-green;
    // }
  }
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-1 {
  border-bottom: 2px solid $light-green;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1078%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='rgba(21%2c 60%2c 64%2c 1)'%3e%3c/rect%3e%3cpath d='M2993.14 0C3140.89 69.53 3128.8 254.12 3240 254.12C3335.3 254.12 3285.15 56.94 3406.15 0C3555.15 -70.12 3593.07 0 3780 0C4050 0 4113.53 -63.53 4320 0C4383.53 19.55 4329.62 83.88 4320 166.15C4298.06 353.88 4256.88 363.38 4256.88 540C4256.88 581.06 4315.09 559.52 4320 601.52C4346.65 829.52 4320 840.76 4320 1080C4320 1350 4320 1350 4320 1620C4320 1890 4430.35 2000.35 4320 2160C4243.73 2270.35 4114.4 2208.22 3946.76 2160C3844.4 2130.55 3859.99 2004.66 3780 2004.66C3706.61 2004.66 3732.69 2133.33 3640 2160C3462.69 2211 3440 2160 3240 2160C3044.82 2160 3022.31 2211.58 2849.64 2160C2752.31 2130.93 2786.76 1998.7 2700 1998.7C2573.94 1998.7 2571.88 2115.83 2424 2160C2301.88 2196.48 2292 2160 2160 2160C1890 2160 1890 2160 1620 2160C1350 2160 1350 2160 1080 2160C810 2160 810 2160 540 2160C316.66 2160 302.86 2194.51 93.33 2160C32.86 2150.04 10.37 2131.08 0 2071.06C-36.29 1861.08 0 1845.53 0 1620C0 1409.34 -58.05 1378.65 0 1198.68C29.04 1108.65 174.19 1147.52 174.19 1080C174.19 1001.09 35.05 1014.46 0 905.81C-52.05 744.46 0 722.9 0 540C0 270 -135 135 0 0C135 -135 270 0 540 0C810 0 810 0 1080 0C1350 0 1350 0 1620 0C1890 0 1890 0 2160 0C2430 0 2430 0 2700 0C2846.57 0 2870.89 -57.53 2993.14 0' stroke='rgba(40%2c 76%2c 64%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1080 1008C1021.2 1029.92 976.15 1042.6 976.15 1080C976.15 1118.9 1016.97 1153.05 1080 1160.6C1338.9 1191.62 1353.79 1125.98 1620 1157.14C1893.79 1189.18 1917.47 1312.59 2160 1287C2283.01 1274.02 2351.08 1174.18 2351.08 1080C2351.08 1000.9 2270.06 976.58 2160 940.45C1904.52 856.58 1886.06 823.36 1620 840C1346.06 857.13 1343.13 909.92 1080 1008' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3240 817.71C3120.84 824.05 3084.41 959.93 3084.41 1080C3084.41 1163.93 3142.71 1219.08 3240 1225.71C3490.51 1242.77 3520.17 1193.1 3780 1127.37C3808.17 1120.25 3816 1102.59 3816 1080C3816 1060.41 3803.35 1053.64 3780 1043.01C3515.35 922.5 3468.63 805.55 3240 817.71' stroke='rgba(40%2c 76%2c 64%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 102.86C6.88 44.37 8.89 10.41 63.53 0C278.89 -41.02 301.76 0 540 0C810 0 810 0 1080 0C1166.78 0 1208.51 -61.96 1253.57 0C1404.87 208.04 1520.01 314.47 1472.73 540C1433.22 728.47 1278.15 686.5 1080 828C900.05 956.5 716.54 949.11 716.54 1080C716.54 1216.16 872.43 1288.98 1080 1362.09C1324.16 1448.09 1352.63 1361.1 1620 1398.21C1892.63 1436.05 1932.73 1589.04 2160 1512C2402.12 1429.93 2558.77 1276.54 2558.77 1080C2558.77 914.92 2364.05 927.51 2160 788.76C1966.98 657.51 1847.27 722.67 1764.64 540C1668.87 328.29 1684.06 162.74 1803.21 0C1881.74 -107.26 1981.6 0 2160 0C2392.32 0 2422.06 -50.65 2624.65 0C2692.06 16.85 2649.89 76.7 2700 135C2881.97 346.7 3050.81 309.26 3088.8 540C3128.6 781.76 2815.7 842.58 2855.59 1080C2891.3 1292.58 3012.91 1370.18 3240 1440C3475.12 1512.29 3551.55 1472.99 3780 1364.21C3929.55 1292.99 3996 1215.51 3996 1080C3996 962.44 3900.74 953.91 3780 858.08C3560.54 683.91 3342.25 740.17 3315.6 540C3285.13 311.13 3468.57 229.3 3665.77 0C3700.77 -40.7 3722.89 0 3780 0C3872.82 0 3927.7 -67.92 3965.63 0C4078.48 202.08 3971.02 299.05 4081.56 540C4148.2 685.26 4258.03 632.06 4320 772.41C4377.25 902.06 4320 926.2 4320 1080C4320 1350 4320 1350 4320 1620C4320 1890 4386 1956 4320 2160C4298.65 2226 4215.28 2204.11 4145.29 2160C3945.28 2033.97 3955.21 1819.73 3780 1819.73C3619.23 1819.73 3652.21 2047.28 3473.33 2160C3382.21 2217.42 3356.66 2160 3240 2160C3126.15 2160 3101.8 2215.8 3012.29 2160C2831.8 2047.49 2887.14 1847.09 2700 1823.38C2461 1793.09 2438.48 1965.2 2160 2052C1898.48 2133.51 1885.54 2177.7 1620 2160C1345.54 2141.7 1324.23 1980 1080 1980C979.75 1980 1032.02 2126.34 931.03 2160C762.02 2216.34 735.51 2160 540 2160C400 2160 378.28 2214.27 260 2160C108.28 2090.39 71.68 2061.11 0 1912.24C-58.32 1791.11 0 1766.12 0 1620C0 1483.51 -71.59 1445.66 0 1347.03C124.38 1175.66 391.94 1231.92 391.94 1080C391.94 902.44 154.66 901.14 0 688.06C-41.31 631.14 0 614.03 0 540C0 321.43 -24.88 314.37 0 102.86' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M540 135C492.52 135 460.59 44.79 460.59 0C460.59 -22.71 500.3 0 540 0C604.29 0 668.57 -27.55 668.57 0C668.57 39.95 596.51 135 540 135' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M810 540C810 435.91 963.98 278.71 1080 278.71C1172.62 278.71 1227.27 425.23 1227.27 540C1227.27 609.88 1160.48 648 1080 648C951.85 648 810 620.56 810 540' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2005.71 540C1962.43 301.7 1980.73 222.45 2044.29 0C2057.87 -47.55 2102.15 0 2160 0C2235.35 0 2272.23 -55.31 2310.7 0C2460.05 214.69 2580.95 348.48 2535.65 540C2505.6 667.02 2340.27 637.08 2160 637.08C2075.3 637.08 2020.28 620.24 2005.71 540' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3585.6 540C3585.6 407.88 3696.16 236.25 3780 236.25C3856.47 236.25 3906.23 399.77 3906.23 540C3906.23 618.22 3850.18 673.15 3780 673.15C3689.87 673.15 3585.6 626.33 3585.6 540' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4176 1080C4176 1000.73 4277.36 943.29 4320 943.29C4349.36 943.29 4320 1011.64 4320 1080C4320 1208.57 4353.55 1337.14 4320 1337.14C4281.55 1337.14 4176 1197.66 4176 1080' stroke='rgba(40%2c 76%2c 64%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1495.38C208.68 1495.38 515.45 1555.62 515.45 1620C515.45 1684.64 206.09 1753.41 0 1753.41C-51.64 1753.41 0 1686.7 0 1620C0 1557.69 -49.04 1495.38 0 1495.38' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M607.5 1620C607.5 1586.32 843.96 1563.58 1080 1563.58C1290.21 1563.58 1500 1586.35 1500 1620C1500 1653.93 1290.4 1698.75 1080 1698.75C844.15 1698.75 607.5 1653.9 607.5 1620' stroke='rgba(40%2c 76%2c 64%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2572.94 1620C2572.94 1554.6 2619.71 1440 2700 1440C2818.24 1440 2970 1563.36 2970 1620C2970 1667.38 2834.2 1648.05 2700 1648.05C2635.67 1648.05 2572.94 1658.62 2572.94 1620' stroke='rgba(186%2c 124%2c 70%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3600 1620C3600 1611.56 3691.4 1601.05 3780 1601.05C3803.9 1601.05 3825 1611.44 3825 1620C3825 1628.31 3803.38 1634.79 3780 1634.79C3690.88 1634.79 3600 1628.43 3600 1620' stroke='rgba(40%2c 76%2c 64%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M426.67 2160C426.67 1950.46 472.84 1650 540 1650C608.65 1650 698.28 1963.3 698.28 2160C698.28 2218.3 619.14 2160 540 2160C483.34 2160 426.67 2205.46 426.67 2160' stroke='rgba(40%2c 76%2c 64%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3174.94 2160C3174.94 1994.65 3207.08 1774.29 3240 1774.29C3272.94 1774.29 3306.67 1995.21 3306.67 2160C3306.67 2188.07 3273.34 2160 3240 2160C3207.47 2160 3174.94 2187.5 3174.94 2160' stroke='rgba(40%2c 76%2c 64%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1078'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  .contact-button {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    background-color: $gold;
    color: white;
    border-radius: 999px;
    border: 2px solid $gold;
    width: fit-content;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    i {
      margin-right: 0.5rem;
      font-size: 2rem;
    }
    &:hover {
      background-color: $base-green;
    }
  }
}

.section-2 {
  border-bottom: 2px solid $light-green;
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section-3 {
  border-bottom: 2px solid $light-green;
  padding-top: 80px;
  padding-bottom: 80px;
  a {
    color: $gold;
    &:hover {
      color: white;
    }
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    border: 10px solid $base-green;
    outline: 3px solid $light-green;
  }
  .cert {
    margin-bottom: 2.5rem;
    .bi-arrow-right-circle {
      margin-right: 1rem;
    }
  }
}

.section-4 {
  padding-top: 80px;
  padding-bottom: 80px;
  .card {
    background-color: $base-green;
    border: 1px solid $gold;
    margin-bottom: 1rem;
    h3 {
      font-size: 1.25rem;
      font-weight: 700;
    }
    transform: translateY(0);
    transition: 0.4s ease;
    &:hover {
      transform: translateY(-1rem);
      transition: 0.4s ease;
    }
    .card-footer {
      color: $gold;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      border: none;
      align-items: center;
      i {
        font-size: 1.5rem;
      }
      a {
        &:hover {
          color: $gold;
        }
      }
    }
  }
}

.section-5 {
  background-color: $light-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  a {
    margin-right: 1rem;
    &:hover {
      color: $gold;
    }
  }
}

.photo2 {
  margin: 0 auto;
  width: fit-content;
  img {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    object-fit: cover;
    border: 10px solid $base-green;
    outline: 3px solid $light-green;
  }
}
